<template>
  <div class="login">
    <input type="email" v-model="email" />
    <button @click="submit(email)">Submit</button>
    <Await :p="sendEmailP">
      <p data-loading>Loading...</p>
      <p slot="catch" slot-scope="[error]" class="error">Error: {{ error }}</p>
      <p slot="then" data-success>
        Success! You've been emailed a magic link to log in.
      </p>
    </Await>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Await from 'vue-await';
import { sendLoginEmail } from '@/api';

export default Vue.extend({
  name: 'login',
  data() {
    return {
      email: null as string | null,
      sendEmailP: null as Promise<any> | null,
    };
  },
  methods: {
    async submit() {
      if (!this.email) {
        return;
      }
      this.sendEmailP = sendLoginEmail(this.email);
    },
  },
  components: {
    Await,
  },
});
</script>

<style lang="scss" scoped>
.error {
  color: red;
}
</style>
